h1{ color:aqua; background-color: blueviolet;text-align:center;}

p{ color:darkmagenta; background-color:pink;border-color:black ;}
body{ background-image:url(img.png );background-repeat: no-repeat;background-position:center;background-size:cover; }
p{ background-image: url(home.photo.png) ;background-repeat: no-repeat; background-size: cover;}












